{{extend './template.html'}}

{{block 'title'}}监控界面{{/block}}

{{block 'content'}}
<section id="features">
    <div class="container-fluid text-center px-5 py-3">
        <div class="alert alert-warning">
            监控端连接状态：
            <button id="online-state-btn" class="btn btn-outline-dark">未连接</button>
        </div>
    </div>

    <div class="container-fluid text-center mb-4">
        <button class="btn btn-info" id="start-btn">全体开始录制</button>
        <button class="btn btn-danger" id="finish-btn">全体停止录制</button>
        <button class="btn btn-success" id="notice-btn">发送通知</button>
        <button class="btn btn-danger" id="disable-btn">取消登录权限</button>
    </div>

    <div class="col-10 container-fluid text-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">序号</th>
                <th scope="col">年级</th>
                <th scope="col">学号</th>
                <th scope="col">姓名</th>
                <th scope="col">专业</th>
                <th scope="col">是否在线</th>
                <th id='screen-record' scope="col">屏幕录制</th>
                <th id='screen-monitor' scope="col">实时查看</th>
                <th id='camera-record' scope="col">摄像头录制</th>
                <th id='camera-monitor' scope="col">实时查看</th>
                <th scope="col">监考</th>
            </tr>
            </thead>
            <tbody id="table-body">
            {{each userList}}
            <tr>
                <td>{{$index + 1}}</td>
                <td>{{$value.stu_grade}}</td>
                <td>{{$value.stu_no}}</td>
                <td>{{$value.stu_name}}</td>
                <td>{{$value.stu_class_sname}}</td>
                <td id="{{$value.stu_no}}-online">不在线</td>
                <td class="screen" id="{{$value.stu_no}}-screen">未录制</td>
                <td class="screen-device" id="{{$value.stu_no}}-screen-device"></td>
                <td class="camera" id="{{$value.stu_no}}-camera">未录制</td>
                <td class="camera-device" id="{{$value.stu_no}}-camera-device"></td>
                <td id="{{$value.stu_no}}-monitor">/</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</section>
{{/block}}

{{ block 'script' }}
<script>
    axios.get('/information').then((res) => {
        const {networkConfig, videoConfig, sessionUser} = res.data;
        const socket = io(`https://${document.domain}:${networkConfig.socketPort}`, {rejectUnauthorized: false});
        for (const type in videoConfig.allowRecord) {
            if (!videoConfig.allowRecord[type]) {
                document.getElementById(`${type}-record`).style.display = 'none';
                document.getElementById(`${type}-monitor`).style.display = 'none';
                document.querySelectorAll(`.${type}`).forEach(element => element.style.display = 'none')
                document.querySelectorAll(`.${type}-device`).forEach(element => element.style.display = 'none')
            }
        }
        socket.on("connect", () => {
            socket.emit('message', sessionUser.stu_no, 'online', true, () => {
                document.getElementById('online-state-btn').innerText = '已连接';
            });
        });
        socket.on('disable', (arg) => {
            location.reload();
        });
        socket.on('state', data => {
            Object.values(data).filter(user => user.stu_userlevel !== '1').forEach(user => {
                const {stu_no, online, watchList, recordList} = user;
                const onlineState = document.getElementById(`${stu_no}-online`);
                onlineState.innerText = online > 0 ? "在线" : "不在线";
                onlineState.style.color = online > 0 ? "white" : "black";
                onlineState.style.fontWeight = online > 0 ? "bolder" : "normal";
                onlineState.className = online > 0 ? "bg-success" : "";
                for (const type in recordList) {
                    const recordState = document.getElementById(`${stu_no}-${type}`);
                    const deviceList = document.getElementById(`${stu_no}-${type}-device`);
                    deviceList.innerHTML = "";
                    if (videoConfig.allowRecord[type] && Object.keys(recordList[type]).length > 0) {
                        recordState.innerText = "录制中";
                        recordState.style.color = "green";
                        let deviceCount = 0;
                        for (const id in recordList[type]) {
                            const device = recordList[type][id].device;
                            let deviceLink = document.createElement("a");
                            deviceLink.innerText = `${type === "screen" ? "屏幕" : "摄像头"}${++deviceCount}`;
                            deviceLink.href = `/live/?id=${stu_no}&type=${type}&device=${device}`;
                            deviceLink.target = "_blank";
                            deviceList.append(deviceLink, document.createElement('br'));
                        }
                    } else {
                        recordState.innerText = "未录制";
                        recordState.style.color = "black";
                    }
                }
                let monitorList = document.getElementById(`${stu_no}-monitor`);
                if (Object.keys(watchList).length > 0) {
                    monitorList.innerHTML = "";
                    for (let user in watchList) {
                        let monitorLabel = document.createElement("span");
                        const {stu_no, stu_name} = watchList[user];
                        monitorLabel.innerText = `${stu_no}${stu_name}`;
                        monitorList.appendChild(monitorLabel);
                    }
                } else {
                    monitorList = document.getElementById(`${stu_no}-monitor`);
                    monitorList.innerText = "/";
                }

            });

        });

        const sendEmit = async (type, data, target = '') => {
            try {
                const response = await axios.post('/emit', {
                    type: type,
                    data: data,
                    target: target,
                });
                if (response.data.code !== 0) {
                    alert(response.data.message);
                } else {
                    alert(type === 'record' ? `所有考生${data ? '开始' : '停止'}录制成功！` : response.data.message);
                }
            } catch (error) {
                console.error(error);
            }
        }

        document.getElementById('start-btn').onclick = async () => {
            let result = confirm('是否让所有考生开始录制？\n已经开始录制的考生不受影响。');
            if (result) {
                await sendEmit('record', true);
            }
        };

        document.getElementById('finish-btn').onclick = async () => {
            let result = prompt('是否让所有考生停止录制？\n请输入“全体停止录制”后继续。\n已经停止录制的考生不受影响。');
            if (result === '全体停止录制') {
                await sendEmit('record', false);
            } else {
                alert("您的输入有误，录制未停止。");
            }
        };

        document.getElementById('notice-btn').onclick = async () => {
            let target = prompt('请输入要发送通知的学号，如需发送全体通知请输入all：');
            let data = prompt('请输入要发送的通知：');
            await sendEmit('notice', data, target);
        };

        document.getElementById('disable-btn').onclick = async () => {
            let result = prompt('请输入要取消登录权限用户的学号：');
            try {
                const response = await axios.post('/disable', {id: result});
                if (response.data['code'] !== 0) {
                    alert(response.data['message']);
                }
            } catch (error) {
                console.error(error);
            }
        };
    });

</script>

{{ /block }}