{{extend './template.html'}}

{{block 'title'}}修改密码{{/block}}

{{block 'head'}}
{{/block}}

{{block 'content'}}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 2rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="{{file}}" alt="Tongji University" class="img-fluid"
                                style="border-radius: 2rem 0 0 2rem;" />
                        </div>
                        <div class="col-md-6 col-lg-6 px-4 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-3 text-black">
                                <form id="passwordForm">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <span class="h1 fw-bold mb-0">同济远程录屏系统</span>
                                    </div>
                                    <h5 class="fw-normal" style="letter-spacing: 1px;">修改密码</h5>
                                    <span class="py-2">新密码需包含数字、小写字母、大写字母、其它符号 * = - _ # $ % ! . @
                                        这四种中的至少三种，且长度大于等于8位。</span>
                                    <div class="form-outline mt-3 mb-4">
                                        <input type="password" id="oldPassword" class="form-control form-control-lg"
                                            placeholder="旧密码" required />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="newPassword" class="form-control form-control-lg"
                                            placeholder="新密码" required />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="confirmPassword" class="form-control form-control-lg"
                                            placeholder="确认新密码" required />
                                    </div>

                                    <div class="pt-1 mb-4 d-grid gap-2">
                                        <button id="submit" class="btn btn-dark btn-lg" type="submit">修改密码</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/block}}

{{block 'script'}}
<script>
    const passwordForm = document.getElementById('passwordForm');
    passwordForm.onsubmit = (event) => {
        event.preventDefault();

        const oldPassword = document.getElementById('oldPassword').value;
        const newPassword = document.getElementById('newPassword').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        axios.post('/password', { oldPassword, newPassword, confirmPassword })
            .then(response => {
                if (response.data.code && response.data.code !== 0) {
                    alert(response.data.message);
                } else {
                    window.location.replace('/');
                }
            })
            .catch(function (error) {
                alert(error.message);
            });
    };
</script>
{{/block}}