<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{block 'title'}}{{/block}}</title>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../node_modules/startbootstrap-new-age/dist/css/styles.css" />
    {{block 'head'}}{{/block}}
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="/">远程录屏</a>
            {{block 'top'}}{{/block}}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">菜单
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li style="display:none;" class="nav-item">
                        <a class="nav-link me-lg-3" href="/recordtest">测试设备</a>
                    </li>
                    <li style="display:none;" class="nav-item">
                        <a class="nav-link me-lg-3" href="/record">进入录制</a>
                    </li>
                    {{ if sessionUser }}
                    <li class="nav-item">
                        <a class="nav-link me-lg-3" href="/logout">退出登录</a>
                    </li>
                    {{ else }}
                    <li style="display:none;" class="nav-item">
                        <a class="nav-link me-lg-3" href="/login">登录</a>
                    </li>
                    {{ /if }}
                </ul>
                {{ if sessionUser }}
                <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0">
                    <span class="d-flex align-items-center">
                        <span class="small">{{ sessionUser.stu_no }} {{ sessionUser.stu_name }}</span>
                    </span>
                </button>
                {{ /if }}
            </div>
        </div>
    </nav>

    {{block 'content'}}{{/block}}

    <footer id="footer" class="bg-gradient-primary-to-secondary text-center fixed-bottom p-1">
        <div class="container p-1">
            <div class="text-white-50">
                <div>&copy; Remote record 2023. All Rights Reserved. Made by Cxx Zzk.</div>
            </div>
        </div>
    </footer>

    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../node_modules/startbootstrap-new-age/dist/js/scripts.js"></script>
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <script src="../node_modules/socket.io/client-dist/socket.io.min.js"></script>
    <script lang="text/javascript">
        window.addEventListener('DOMContentLoaded', function () {
            fetch('/pageOpened', {
                method: 'POST'
            });
        });
        window.addEventListener('beforeunload', function () {
            const url = '/pageClosed';
            const data = null;
            navigator.sendBeacon(url, data);
        });
    </script>
    {{ block 'script'}}{{ /block }}
</body>

</html>